# Ignore everything
/*

# Whitelist src
!/docs/
!/evaluation/
!/src/
!/tigress/
!/.gitignore
!/Dockerfile
!/poetry.lock
!/poetry.toml
!/pyproject.toml
!/README.md
!/run_docker.sh

# Uncomment the following line if changing the plugin template
# !/plugins/

# Uncomment the following line if changing the samples
# !/samples/

# Ignore pycache and .DS_Store globally >:(
**/__pycache__
**/.DS_Store
