# Ignore everything
/*

# Whitelist src
!/docs/
!/samples/
!/src/
!/tests/
!/.gitignore
!/Dockerfile
!/poetry.lock
!/pyproject.toml
!/README.md
!/run_docker.sh

# Uncomment the following line if changing the plugin template
# !/plugins/

# Ignore pycache globally >:(
**/__pycache__
